<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-portfolio.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="portfolio">
        <form action="upload" method="POST" enctype="multipart/form-data">
           <h3> Enter image:</h3>
            <input type="file" name="file" id="">
            <h3>Enter project name</h3>
            <input type="text">
            <h3>Enter year</h3>
            <input type="number">
            <h3>Enter description</h3>
            <textarea></textarea>
            <input type="submit">
        </form>
    </div>
</body>
</html>