/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
}

/* Portfolio Styles */
.portfolio-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.portfolio-div {
  margin: 10px;
  border: 1px solid #ccc; /* Border around each portfolio item */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden;
  max-width: 25vw;
}

.portfolio-image img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc; /* Border between image and details */
}

.portfolio-details {
  padding: 20px;
}

.portfolio-details h3 {
  margin-top: 0;
}

.portfolio-details p {
  margin-top: 0;
}

button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Button hover background color */
}

/* Add Portfolio Button Styles */
.add-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.add-portfolio i {
  margin-right: 5px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .portfolio-div {
      width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .portfolio-div {
      width: calc(100% - 20px);
  }
}
