*{
  margin: 0;
  padding: 0;
}
.admin{
  display: flex;
  flex-direction: row;
  background-color: aqua;
  height: inherit
}
.menu{
  display: flex;
  flex-direction:column;
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
  width: 25%;
  height: inherit;
}
.menu a{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 3.5vw;
}
.body{
background-color: rgba(255, 255, 255, 1);
width: 75%;
padding: 5%;
}
.container span {
  font-size: 2em;
  background-color: blue;
  border-radius: 10px;
  color:  rgba(217, 217, 217, 1);
  padding: 12px;
  margin-top: 20px;
 max-width:  340px;
 text-align: center;
flex-wrap: nowrap;
}
.container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}
.container span p{
  color:rgb(2, 31, 31);
  font-size: 1em;
}
.container span div{
display: flex;
flex-direction: row;
}
.container span div *{
text-align: start;
font-size: 1em;
margin-right: 1vw;
}