@media screen and (max-width:1024px) {
  

    .icon{
        display: block;
        
    }
    .article-holder{
       
        flex-direction: column;
        width:  70%;;
        margin-left: 15%;
    }
  .article{
    margin: 2vw;
    
  }
  .article p{
  font-size: 3.5vw;
  }
  .article h3{
    font-size: 4vw;
  }
  .aboutdiv{
    flex-direction: column;
    width: 100vw;
   
    
  }
  .left{
    margin-left: 10vw;
    border: none;
  }
  .right{
    border: none;

  }
  .right h5{
    font-size: 4vw;
  }
  .right h3{
    font-size: 4vw;
  }
  .right p{
    font-size: 2vw;
    text-align: center;
  }
  .right button{
    font-size: 2vw;
  }
  .address{
    flex-direction: column;
    margin-left: 35vw;
  }
  .address *{
    margin-top: 5px;
  }
  .dropdown{
   position: fixed;
   overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color:rgba(7, 10, 64, 1);
    z-index: 1;
    padding-top:10%;
    padding-left: 40%;
    display: none;
    
   
  }
  .dropdown *{
    clear: both;
   }
   .dropdown i{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
   }
   .menubar{
    position: fixed;
    top: 0;
    width:100%;
   }
   body{
    padding: 0;
    max-width: 100%;
    overflow-x: hidden; 
   }
  .login-page form{
  width: 90%;
  left: 5%;
  top:20%;
  }
  .login-page  form i{
    font-size: 3vw;
  }
  .homepage p{
    font-size: 3vw;
  }
  .homepage input[type=submit]{
    font-size: 2vw;
  }
  .message-box{
    width:100%;
    top: 0;
    height: 100%;
    background-color: rgb(218, 214, 214);
    overflow-x: hidden;
    
  }
  .message-box-heading *{
  font-size: 3.5vw;
  color: rgba(7, 10, 64, 1);
  }
  .messages i{
    font-size:6vw;
    color: rgba(7, 10, 64, 1);
  }
  .messages .sender *{
    font-size: 3.5vw;
    color: rgba(7, 10, 64, 1);
  }
  .message-body{
    height: 100%;
    z-index: 1;
    position: absolute;
  }
  .message-body-heading .userlogo{
   font-size: 5vw;
  }
  .message-body-heading p{
    font-size: 3vw;
  }
  .message-body-heading .downarrow{
    font-size: 3vw;
  }

    }

