@media screen and (max-width:800px) {
  

    .icon{
        display: block;
        
    }
    .article-holder{
       
        flex-direction: column;
        width:  90%;;
        margin-left: 5%;
    }
  .article{
    margin: 2vw;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    
}
.page-title{
  font-size: 5vw;
}
  .article img{
    width:40%;
    
  }
  .desc{
    display: flex;
    flex-direction: column;
  }
  .icons {
    background-color: rgba(7, 10, 64, 0.3);
    margin:2vw;
    padding: 0 ;
    margin-left: 0;
    border-radius: 20px;
    padding-right: 3vw;
    padding-bottom: 0;
  }
  .article p{
  font-size: 5vw;
  height: 50px;
  overflow: hidden;
  }
  .article h3{
    font-size: 4vw;
  }
  
  .aboutdiv{
    flex-direction: column;
    width: 90%;
   padding-left: 0;
    margin-left: 5%;
  }

  .icons-holder p{
  height: auto;
  font-size: 5vw;
  }
  .icons-holder i{
    height: auto;
    font-size: 5vw;
    margin-right: 2vw;
    }

  .left{
    margin-left: 10vw;
    border: none;
    width: 50%;
    margin-left: 25%;
  }
  .right{
    border: none;
    width: 100%;
    
  }
  .right h5{
    font-size: 5vw;
  }
  .right h3{
    font-size: 6vw;
  }
  .right p{
    font-size: 3vw;
    text-align: center;
  }
  .right button{
    font-size: 5vw;
    margin-left: 15%;
  }
  .address{
    flex-direction: column;
    margin-left: 35vw;
  }
  .address *{
    margin-top: 5px;
  }
  .dropdown{
   position: fixed;
   overflow-x: hidden;
    width: 30%;
    height: 100%;
    background-color:rgba(7, 10, 64, 1);
    z-index: 1;
    display: none;
    right:0;
    padding-top: 50px;
  }
  .dropdown *{
    clear: both;
    margin-bottom:15px ;

   }
   .dropdown i{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8vw;
    
   }
   .dropdown i:hover{
    color:aqua
   }
   .menubar{
    position: fixed;
    top: 0;
    width:100%;
    /* background-color:rgb(255, 255, 255,0.0); */
   }
   
   body{
    padding: 0;
    max-width: 100%;
    overflow-x: hidden; 
   }
  .login-page form{
  width: 90%;
  left: 5%;
  top:20%;
  }
  .login-page  form i{
    font-size: 3vw;
  }
  .homepage h1{
   margin-top: 10vw;
  }
  .homepage p{
    font-size: 3vw;
  }
  .homepage input[type=submit]{
    font-size: 4vw;
    margin-left: 40vw;
    border-radius: 15px;
  }
  .message-box{
    width:100%;
    top: 0;
    height: 100%;
    background-color: rgb(218, 214, 214);
    overflow-x: hidden;
    
  }
  .message-box-heading *{
  font-size: 3.5vw;
  color: rgba(7, 10, 64, 1);
  }
  .messages{
    margin-left: 1vw;
    margin-top: 5vw;
  }
  .message-box-heading *{
    font-size: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .messages i{
    font-size:6vw;
    color: rgba(7, 10, 64, 1);
    
  }
  .messages .sender *{
    font-size: 3vw;
    color: rgba(7, 10, 64, 1);
  }
  .message-body{
    height: 100%;
    z-index: 1;
    width: 65%;
    position: absolute;
    right: 0;
  }
  .message-body-heading .userlogo{
   font-size: 10vw;
  }
  .message-body-heading p{
    font-size: 5vw;
  }
  .message-body-heading .downarrow{
    font-size: 5vw;
  }
  .portfolio-page{
    width: 100%;
    
  }
  .side{
    /* background-color: white; */
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .portfolio-div{
    display: flex;
    padding: 0;
    
    flex-direction: column;
    background-color: rgba(215, 216, 245, 0.2);
    width: 80%;
    margin: 10% 10vw 10% 10vw;
    height: auto;
    border: 2px  double rgba(215, 216, 245, 0.2);
    border-radius: 15px;
  }
  .portfolio-div i{ 
   display: none;
  }
  .portfolio-details{
    margin: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 2vw;
   border-radius: 0 0 15px 15px;
  }
  .portfolio-image{
    width: 100%;
    margin: 0;
    border-radius: 15px 15px 0 0;

  }
  .portfolio-image img{
    border-radius: 15px 15px 0 0;
  }
   .portfolio-details p{
    font-size: 5vw;
    font-family: serif;
    text-indent: 0;
    margin: 0 2vw;
    
   }
   .portfolio-details h3{
    font-size: 5vw;
    width:100%;
    margin: 0;
    margin-top: 0;
    padding:0;
    
   }
   .portfolio-div button{
    margin-left: 35%;
    font-size: large;
    padding: 2vw;
   }
   .left-footer *{
    font-size: 4vw;
    
  }
   
    }
   
    @media screen and (max-width:400px){
      .menubar{
        background-color:rgb(255, 255, 255,0.0);
       }
       .brandname{
        color:rgb(240, 248, 255,0.0);
        }

       
    }

