html{
  scroll-behavior:smooth;
}

*{margin:0}
body{
  overflow-x: hidden;
}

.menubar{
   background-color: rgba(7, 10, 64, 1);
    overflow: hidden;
    position:sticky;
    top:0;
    
 }
    
        
 .menubar *{
      float: left;
  /* display: block; */
  color:rgba(246, 249, 85, 1);
  text-align: center;
  padding: 1% 2%;
  font-size: 17px;
  cursor: pointer;
  }
  .dropdown{
   width:460px;
  position: relative;
  display: block;
  float: right;
    
  }
  .icon{
    
    display: block;
  float:right;
  right: 0;
  position: absolute;
    display: none;
    
  }
  .icon i{
    width:40px;
  }
  .menubar a{
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    color: blue;
    }
    .homepage {
      
      background-image: url('/images/Rodrigue.jpg');
      background-size: 100%;
      background-position: center;
      padding: 20px 20px 20px;
      
    }
  .homepage h1{
    color: rgba(4, 217, 178, 1);
    font-size: 3em;
    text-align: center;
    position: inherit;
    margin-bottom: 28%;
    
    
  
  }
  .homepage p{
    color: rgba(246, 249, 85, 1);
    font-size: 2em;
    text-align: center;
 }
 .homepage input{
  background-color: rgba(246, 249, 85, 1);
  color:rgba(142, 73, 255, 1);
  text-align: center;
  border-radius: 25px;
  border: none;
  margin-left: 48%;
  margin-top: 20px;
  padding:7px
  }
.aboutpage{
  background-color:rgba(7, 10, 64, 1) ;
  padding-left:10%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
}
.left{
  width: 30%;
  background-color: white;
  border: 2px solid rgba(7, 10, 64, 1);
  overflow: hidden;
  

}
.left img{
  width:30vw;
  height:60vh;
  margin-right: 10PX;
  
  
}
.right{
  width:50%;
  background-color: white;
  border: 2px solid rgba(7, 10, 64, 1);
  padding: 10px;
}
.right h3{
color:aqua;

}
.right h5{
  color: rgba(147, 85, 249, 1);
  margin-top: 20px;
}
.right p{
  text-align: left;
}
.right button{
  background-color: yellow;
  color:blueviolet;
  border: none;
  padding: 5px;
  border-radius: 4px;
  margin-left: 30%;
  margin-top: 100px;
  cursor: pointer;

}

  

.right i{
  color:blueviolet;
}
.skills{
  background-color: rgba(7, 10, 64, 1);
  padding:20px;
  display: flex;
  flex-direction: row;
}
.front,.back, .mobile{
    width: 30%;
    margin-left: 20px;
    /* background-color: aliceblue; */
   
    padding-top: 20px;
    text-align: center;

}
.skills i{
  color: rgba(4, 217, 178, 1);
  font-size: 3em;
  margin-top: 20px;
 
}
.skills h5{
  color:rgba(246, 249, 85, 1);
  font-size: 2em;
  font-weight: bolder;

}
.skills p{
  color: white;
  font-size: 2em;
}



    
   
    
    
    
    
    
    
  
